body {
    font-family: Arial, sans-serif;
    background-image: url('3.jpg');
    background-size: cover;
    background-position: center;
    height: 110vh;
}


header h1 {
    margin: 0;
}

/* Menú de navegación en la parte inferior derecha */
nav {
    position: absolute; /* O "fixed" si quieres que se quede fijo al hacer scroll */
    bottom: 82%;  /* Ajusta según la distancia que quieras respecto al fondo */
    right: 5%;   /* Ajusta según la distancia que quieras respecto a la derecha */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Esto alinea los elementos del menú de forma horizontal */
    flex-direction: row; /* Asegura que los items estén en fila */
}

nav ul li {
    margin-right: 15px; /* Espaciado entre los elementos del menú */
}

nav ul li a {
    text-decoration: none;
    color: #e7d9d9;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}
.boton-instagram {
    display: inline-block;
    bottom: 50%;  /* Ajusta según la distancia que quieras respecto al fondo */
    right: 5%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #c13584; /* Color típico de Instagram */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    }

main {
    padding: 20px;
    text-align: center;
}

