/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8e8ef9
}


header h1 {
    margin: 0;
}

/* Menú de navegación en la parte inferior derecha */
nav {
    position: absolute; /* O "fixed" si quieres que se quede fijo al hacer scroll */
    bottom: 77.5%;  /* Ajusta según la distancia que quieras respecto al fondo */
    right: 5%;   /* Ajusta según la distancia que quieras respecto a la derecha */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Esto alinea los elementos del menú de forma horizontal */
    flex-direction: row; /* Asegura que los items estén en fila */
}

nav ul li {
    margin-right: 15px; /* Espaciado entre los elementos del menú */
}

nav ul li a {
    text-decoration: none;
    color: #e7d9d9;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }

    #informacion {
        max-width: 100%;
    }

    .noticia img {
        width: 100%;
    }

    .navegacion button {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }

    nav ul li {
        margin: 3px 0;
    }

    .navegacion button {
        padding: 3px;
        font-size: 0.8em;
    }
}